[Unit]
Description=Sway session
Documentation=man:systemd.special(7)

BindsTo=graphical-session.target
Before=graphical-session.target
PropagatesStopTo=graphical-session.target

Wants=graphical-session-pre.target
After=graphical-session-pre.target
PropagatesStopTo=graphical-session-pre.target

# Wait for SNI DBus interface
Wants=wait-sni-ready.service
After=wait-sni-ready.service
PropagatesStopTo=wait-sni-ready.service